.container {
  color: ivory;
  text-align: center;
  max-width: 1000px;
  display: grid;
  margin-left: 70px;
  grid-template-columns: 10fr 10fr 10fr 10fr 10fr;
}
.sound0,
.sound1,
.sound2,
.sound3,
.sound4,
.sound5,
.sound6,
.sound7,
.sound8,
.sound9 {
  height: 180px;
  width: 200px;
  display: inline-block;
  margin: auto;
  border-radius: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.sound0 {
  background-image: url(./images/level.jpg);
  background-size: cover;
  margin-right: 20px;
}
.sound1 {
  background-image: url(./images/maracas.jpg);
  background-size: cover;
  margin-right: 20px;
}
.sound2 {
  background-image: url(./images/saxophone.jpg);
  background-size: cover;
  margin-right: 20px;
}
.sound3 {
  background-image: url(./images/electric.jpg);
  background-size: cover;
  margin-right: 20px;
}
.sound4 {
  background-image: url(./images/Violin.jpg);
  background-size: cover;
  margin-right: 20px;
}
.sound5 {
  background-image: url(./images/piano.jpg);
  background-size: cover;
  margin-right: 20px;
}
.sound6 {
  background-image: url(./images/trumpet.jpg);
  background-size: cover;
  margin-right: 20px;
}
.sound7 {
  background-image: url(./images/guitar.jpg);
  background-size: cover;
  margin-right: 20px;
}
.sound8 {
  background-image: url(./images/singer.jpg);
  background-size: cover;
  margin-right: 20px;
}
.switch {
  position: relative;
}
input[type='checkbox'] {
  display: none;
}

label {
  border: 1px solid #fff;
  background-color: none;
  padding: 65px;
  padding-bottom: 60px;
  display: block;
  position: relative;
  cursor: pointer;
  border-radius: 0px 0px 25px 25px;
}

input:checked + .slider {
  position: absolute;
  cursor: pointer;
  font-size: 10px;
  height: 20px;
  width: 60px;
  top: 0;
  right: 0;
  background-image: url(./images/singer.jpg);
  box-shadow: 0 0 35px #2196f3;
  height: 125px;
  width: 199px;
  display: inline-block;
  margin: auto;
  border-radius: 0px 0px 25px 25px;
}
